main {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.article {
    width: 350px;
    margin: 50px 10px;
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.171);
    color: #626262;
    border: 1px solid #007bff;
}

.article div {
    padding: 5px 15px;
}

.title {
    height: 10vh;
    grid-column: 1/3;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.info {
    grid-column: 1/3;
    grid-row: 3/5; 
}

.img {
    grid-column: 1/3;
    grid-row: 6/9; 
}

.hr {
    border-bottom: 1px solid#007bff;
    color: #007bff;
}


@media (max-width: 1250px) {
 .container {
    grid-template-columns: auto auto;
 }
}

@media (max-width: 800px) {
    .container {
       grid-template-columns: auto;
    }
   }

.bg {
    background-color: #007bff;
}